/*###################Footer#####################*/
.relativeContainer {
  border-top: 1px solid #e0e0e0;
  position: relative;
  z-index: 9999;
  background-color: white;
}

.gridContainer {
  padding: 1.2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gridItem {
  padding: 0 1rem;
  display: inline-flex;
  align-items: center;
  grid-column: span 1;

  @media (min-width: 768px) {
    padding: 0 1.5rem;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  text-align: center;
  border-radius: 9999px;
  outline: none;
  transition: all 0.1s ease-in;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #d2d5da;
  background-color: white;
  color: #545f65;
  padding: 10px 20px;
  font-size: 0.875rem;

  &:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.icon {
  width: 1.25rem;
  height: auto;
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.link {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 1.25rem;
  margin-left: 0.75rem;
  font-size: 0.875rem;

  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1280px) {
    display: flex;
  }
}

.justifyEnd {
  padding: 0 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: span 2;

  @media (min-width: 768px) {
    grid-column: span 1;
  }
}

.answerBtn {
  margin-right: 0.5rem;
  background-color: #f6c204;
  color: white;
}

.submit {
  background-color: rgb(59, 166, 80);
  color: white;
}
